body {
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(218, 233, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

img {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recipe {
  width: 700px;
  margin: 16px auto;
  padding: 8px;
  border: 5px dotted black;
  background-color: rgb(178, 255, 106);
}

.button {
    background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: 0 0;
}

.list {
    background-color: rgb(255, 152, 152);
    border-radius: 15px;
}

li {
    margin: 10px;
    padding: 5px;
    
}

p {
    margin: 5px;
}